@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Bellota Text', cursive;
}
body
{
   /* display: flex; */
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin-left: 150px;
   margin-right: 150px;
   background: #f2f3f7;
}
h2{
    margin-top: 10px;
    text-align: center;
}
.container
{
   margin-top: 15px;
   margin-bottom: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.container .card
{
   width: 330px;
   height: 416px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff;
   border-radius: 20px;
}
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h4
{
   color: #36187d;
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.container .card .content .contentBx h5
{
   color: #6c758f;
   font-size: 1.3rem;
   font-weight: bold;
   margin-top: 10px;
   text-align: center;
}
.container .card .content .sci
{
   margin-top: 20px;
}
.container .card .content .sci a
{
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
.container .card .content .sci a:hover
{
   color: #0196e3;
}
.container .card{
   animation: scaleImg 1s linear 1;
   animation-delay: 3s;
   visibility: hidden;
   animation-fill-mode: forwards;
}
@keyframes scaleImg{
   0%{
      transform: scale(0%);
      visibility: visible;
   }
   100%{
      transform: scale(100%);
      visibility: visible;
   }
}
.heading1{
   animation: moveleft 1s linear 1;
   animation-delay: 2s;
   visibility: hidden;
   animation-fill-mode: forwards;
}
@keyframes moveleft{
   0%{
      transform: translateX(-100px);
      visibility: visible;
   }
   100%{
      transform: translateX(0px);
      visibility: visible;
   }
}
.heading2{
   animation: moveright 1s linear 1;
   animation-delay: 2s;
   visibility: hidden;
   animation-fill-mode: forwards;
}
@keyframes moveright{
   0%{
      transform: translateX(100px);
      visibility: visible;
   }
   100%{
      transform: translateX(0px);
      visibility: visible;
   }
}